@import "../../variables.scss";

.credits {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $linkColor;
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
  width: 90%;
  .credits-nav {
    .btn-credits {
      margin: 0 0 $marginSize $marginSize;
      border-style: none;
      border-radius: 10px;
      padding: $marginSize;
      background-color: $primaryColor;
      color: $linkColor;
      &:hover {
        background-color: $secundaryColor;
        color: $linkHover;
        cursor: pointer;
      }
    }
    .active {
      background-color: $secundaryColor;
      color: $linkHover;
    }
  }
  .credits-main {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: calc(100% - 2.5rem);
    overflow-x: auto;
    overflow-y: hidden;
  }
}
