@import "../variables.scss";

.bubble {
  margin: 0.1rem 0.25rem;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, $primaryColor, $secundaryColor);
  color: $linkColor;
  @include flex(center, center, row);
  padding: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}
