@import "../variables.scss";

.bubble {
  margin: 0.1rem $marginSize;
  border-radius: 0.8rem;
  background-image: linear-gradient(to bottom, $primaryColor, $secundaryColor);
  color: $linkColor;
  @include flex(center, center, row);
  padding: 0.2rem;
}
