@import "../variables.scss";

.navbar-container {
  z-index: 999;
  width: 100vw;
  height: $size;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, $primaryColor, $secundaryColor);
  @include flex(center, none, row);

  .nav-logo {
    height: $size;
    width: $size;
  }
  .navbar-list {
    width: 100%;
    height: 100%;
    list-style: none;
    color: $linkColor;
    @include flex(center, none, row);
  }
  .nav-item {
    width: $size;
    padding: 1rem;
    color: $linkColor;
    .nav-link {
      text-decoration: none;
      @include flex(center, center, row);
      .nav-text {
        margin-left: 1.5rem;
        display: none;
        font-size: 1.4rem;
      }
    }
    &:hover {
      background-color: $secundaryColor;
      color: $linkHover;
      box-shadow: 15px 10px 25px 5px rgba(135, 135, 135, 0.8);
      cursor: pointer;
    }
  }
  .active {
    background-color: $linkColor;
    color: $primaryColor;
  }
}

@media (min-width: 800px) {
  .navbar-container {
    height: 100vh;
    width: $size;
    @include flex(none, center, column);
    background-image: linear-gradient(to right, $primaryColor, $secundaryColor);

    .navbar-list {
      @include flex(center, center, column);
    }
    .nav-item {
      width: 100%;
      height: initial;
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
      &:hover {
        background-color: $secundaryColor;
        box-shadow: 15px 10px 25px 5px rgba(135, 135, 135, 0.8);
        transition: 200ms ease;
        cursor: pointer;
        .nav-link {
          color: $linkHover;
        }
      }
    }
    &:hover {
      width: 15rem;
      transition: 300ms ease;
      .nav-link {
        .nav-text {
          display: block;
        }
      }
    }
  }
}
