@import "../../variables.scss";

.carosel-container {
  @include flex(none, center, row);
  color: $primaryColor;
  height: 70%;
  overflow: hidden;
  position: relative;
  width: 100%;
  %button-nav {
    background-color: #de9e3610;
    border: none;
    border-radius: 1rem;
    bottom: 1rem;
    color: $primaryColor;
    cursor: pointer;
    width: 10%;
    height: 5rem;
    outline: none;
    position: absolute;
    z-index: 10;
    &:hover {
      background-color: rgba(209, 209, 209, 0.6);
    }
  }
  #goLeft {
    @extend %button-nav;
    left: 1rem;
  }
  #goRight {
    @extend %button-nav;
    right: 1rem;
  }
  .slide-container {
    height: 100%;
    min-width: 100%;
    transition: 0.5s;

    .backdrop-carosel {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
      .carosel-tint {
        @include flex(none, center, row);
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        img {
          display: none;
        }
        .slide-info {
          @include flex(center, flex-start, column);
          margin-left: 2rem;
          text-align: left;
          .title-container {
            @include flex(none, center, row);
            .title {
              font-size: 2rem;
              margin: 1rem;
              margin-left: 0;
            }
            .rating {
              color: $primaryColor;
              border-color: $primaryColor;
              border-radius: 10px;
              border-style: solid;
              border-width: thin;
              font-size: 1.3rem;
              font-weight: bold;
              padding: $marginSize 1rem;
              @include flex(none, none, column);
            }
          }
          .genres-container {
            @include flex(center, center, row);
            margin-bottom: 2rem;
          }
          .chapter-title {
            font-size: 1.5rem;
            margin: 1rem;
            margin-left: 0;
          }
          .description {
            height: 4.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            width: inherit;
          }
          .btn-cta {
            background-color: $primaryColor;
            border: none;
            border-radius: 10px;
            color: $linkColor;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: $marginSize;
            &:hover {
              background-color: $secundaryColor;
              color: $linkHover;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .carosel-container {
    .slide-container {
      .backdrop-carosel {
        .carosel-tint {
          img {
            border-radius: 10px;
            box-sizing: border-box;
            display: block;
            height: 16rem;
            margin-left: 2rem;
            object-fit: cover;
            width: 13rem;
          }
          .slide-info {
            .title-container {
              .title {
                font-size: 2.5rem;
              }
              .rating {
                @include flex(none, none, row);
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
