@import "../../variables.scss";

.section-container {
  @include flex(none, none, column);
  background-color: $linkColor;
  border-radius: 10px;
  height: 25rem;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 90%;
  .section-title {
    color: $primaryColor;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .section-main {
    display: flex;
    flex-direction: row;
    max-height: calc(100% - 2.5rem);
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    .card-container {
      @include flex(flex-start, center, column);
      border-radius: 10px;
      box-sizing: border-box;
      height: 100%;
      margin: $marginSize;
      width: 12rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 12rem;
        height: 14rem;
        object-fit: cover;
        box-sizing: border-box;
        border-radius: 10px;
      }
      h3 {
        margin: $marginSize;
        color: $primaryColor;
        font-size: 1.1rem;
      }
      .genres-container {
        width: 100%;
        @include flex(flex-start, center, row);
        flex-wrap: wrap;
        margin-top: $marginSize;
        margin-bottom: $marginSize;
      }
    }
  }
}
