@import "../../variables.scss";

.search-container {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search-bar {
    position: absolute;
    bottom: $marginSize;
    @include flex(center, none, row);
    width: 90%;
    margin: auto;
    box-shadow: 0px 10px 20px 5px rgb(36, 36, 36);
    input {
      width: 50%;
      font-size: 18px;
      padding: 0.7rem;
      box-sizing: border-box;
      text-transform: capitalize;
      color: $linkColor;
      background-color: $secundaryColor;
      border: 1px solid $primaryColor;
      border-right: none;
      outline: none;
    }
    button {
      width: 25%;
      font-size: 18px;
      padding: 0.7rem;
      box-sizing: border-box;
      text-transform: capitalize;
      color: $linkColor;
      background-color: $secundaryColor;
      border: 1px solid $primaryColor;
      border-left: none;
      border-right: none;
    }
  }
}

@media (min-width: 800px) {
  .search-container {
    .search-bar {
      width: 70%;
      margin-left: 1rem;
    }
  }
}
