$primaryColor: #de9e36;
$secundaryColor: #deb841;
$backColor: #4a494d;
$linkColor: #37323e;
$linkHover: #042627;
$marginSize: 0.5rem;
$size: 5rem;
$iconSize: 2.75rem;
$fontSize: 16px;
$fontMobile: 14px;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
